@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #000;
  --main-gradient-color: #028090;
  --header-height: 80px;
  --content-height: calc(100vh - var(--header-height));
}

body {
  background-color: var(--main-bg);
  color: white;
  font-family: "Inter", sans-serif;
}