.homeContainer {
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1100px, 1200px);
  min-width: 600px;
  margin: 3em clamp(3em, 5%, 4em) 3em clamp(3em, 5%, 4em);
  background-color: var(--home-bg);
  border-radius: 20px;
  animation: startPage 0.5s cubic-bezier(.05, .96, .96, 1) forwards;
  box-shadow: 0px 0px 5px 10px rgba(217, 217, 217, 0.25);
  gap: 50px;
}

.heroContainer .scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  user-select: none;
  color: #373737;
  margin-bottom: 30px;
  animation: fadeIn 2.25s ease-in-out infinite forwards;
}

.heroContainer .scrollContainer h3 {
  height: 20px;
  left: 0px;
  top: 36px;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373737;
}

.heroContainer .scrollContainer img {
  left: 25%;
  right: 25%;
  top: 23.33%;
  bottom: 20.83%;
}

.heroContainer .welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heroContainer .welcomeContainer h1 {
  width: 800px;
  height: 150px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 88px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.heroContainer .welcomeContainer .aboutSpan {
  width: 537px;
  height: 80px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373737;
  margin-bottom: 0.25em;
}

.heroContainer .welcomeContainer button {
  width: 225px;
  height: 55px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
  margin-top: 0.5em;
}

.heroContainer .welcomeContainer button:hover {
  transform: scale(1.025);
  border: 3px solid #000;
  outline: 3px solid #000;
}

.blackSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  padding: 50px;
  color: #fff;
  background: #09090B;
  box-shadow: inset 0px 5px 20px rgba(255, 247, 237, 0.45);
  border-radius: 0px 0px 20px 20px;
}

.blackSection .userContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blackSection .userContainer img {
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #000;
}

.blackSection .userContainer h2 {
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.blackSection .line {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.blackSection .aboutMe {
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #B9B9B9;
}

.blackSection .postsContainer {}

.blackSection .postsContainer .postsItems {}

@media (min-width: 1200px) {
  .homeContainer .heroContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .homeContainer .heroContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 599px) {
  .homeContainer .heroContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@keyframes startPage {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
  }
}