.homeDetails {
  width: 100%;
  min-height: 100vh;
  background-color: var(--home-bg);
  animation: portalIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes portalIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}
