.homeContainer {
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1100px, 1200px);
  min-width: 600px;
  margin: 3em clamp(3em, 5%, 4em) 3em clamp(3em, 5%, 4em);
  background-color: var(--home-bg);
  border-radius: 20px;
  animation: startPage 0.5s cubic-bezier(.05, .96, .96, 1) forwards;
  box-shadow: 0px 0px 5px 10px rgba(217, 217, 217, 0.25);
  gap: 50px;
}

.heroContainer {}

.heroContainer .scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #373737;
  animation: fadeIn 2.25s ease-in-out infinite forwards;
}

.heroContainer .scrollContainer h3 {
  height: 20px;
  left: 0px;
  top: 36px;
  font-family: 'SUSE';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373737;
}

.heroContainer .scrollContainer img {
  left: 25%;
  right: 25%;
  top: 23.33%;
  bottom: 20.83%;
}

.heroContainer .welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heroContainer .welcomeContainer h1 {
  width: 800px;
  height: 150px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 88px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.heroContainer .welcomeContainer span {
  width: 537px;
  height: 80px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #373737;
  margin-bottom: 0.25em;
}

.heroContainer .welcomeContainer button {
  width: 200px;
  height: 50px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'SUSE Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}

.blackSection {}

@media (min-width: 1200px) {
  .homeContainer {
    padding: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .homeContainer {
    padding: 25px;
  }
}

@media (max-width: 599px) {
  .homeContainer {
    padding: 15px;
  }
}

@keyframes startPage {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
  }
}